/* Paleta de culori */
:root {
  --lapis-lazuli: #2f6690ff;
  --cerulean: #3a7ca5ff;
  --platinum: #d9dcd6ff;
  --indigo-dye: #16425bff;
  --sky-blue: #81c3d7ff;
}

/* Stiluri globale */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--platinum); /* Fundal general */
  font-family: 'Roboto', sans-serif; /* Font implicit */
  color: var(--indigo-dye); /* Culoare text implicit */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}
